<div>
    <h2>User Profile</h2>
  <form [formGroup]="userProfile" (ngSubmit)="onSubmit(userProfile.value)">
    <div class="form-control-lg">
      <!-- DOB -->
      <label for="dateOfBirth">
        Date of Birth
      </label>
      <input
        id="dateOfBirth"
        type="dateOfBirth"
        formControlName="dateOfBirth"
      />
    </div>

    <div [formGroup]="homeAddress">
      <!-- Address -->
      <div class="form-group">
        <!-- Street -->
        <label for="street">
                Street
        </label>
        <input id="street" type="text" formControlName="street" />
      </div>
      <div class="form-group">
        <!-- City -->
        <label for="city">
                City
        </label>
        <input id="city" type="text" formControlName="city" />
      </div>
      <div class="form-group">
        <!-- zipcode -->
        <label for="zipcode">
                ZipCode
        </label>
        <input id="zipcode" type="number" formControlName="zipcode" />
      </div>
    </div>

    <div class="form-group">
      <!-- faveFood -->
      <label for="faveFood">
        Favorite Food
      </label>
      <input id="faveFood" type="text" formControlName="faveFood" />
    </div>

    <div class="form-group">
      <!-- faveMovie -->
      <label for="faveMovie">
        Password
      </label>
      <input id="faveMovie" type="text" formControlName="faveMovie" />
    </div>

    <div class="form-group">
      <!-- faveArtist -->
      <label for="faveArtist">
        Favorite Artist
      </label>
      <input id="faveArtist" type="text" formControlName="faveArtist" />
    </div>

    <div class="form-group">
      <!-- hobbies -->
      <label for="hobbies">
        Hobbies
      </label>
      <input id="hobbies" type="text" formControlName="hobbies" />
    </div>
    <button class="button" type="submit">Submit Changes </button>
  </form>
</div>
